---
import MarkdownText from "./MarkdownText.astro";

export interface Props {
  title?: string;
  content: string | string[];
  contentSize?: 'sm' | 'm' | 'lg';
  asList?: boolean;
  className?: string;
}

const { 
  title, 
  content, 
  contentSize = 'm', 
  asList = true,
  className = '' 
} = Astro.props;
---

<div class={`text-block ${className}`}>
  {title && <h4 class="font-medium mb-1">{title}</h4>}
  <MarkdownText 
    content={content} 
    fontSize={contentSize}
    listType={asList ? 'disc' : 'none'} 
  />
</div> 