---
import NavHeader from "@components/navigation/NavHeader";

export interface Props {
  activeNav?: "blog" | "archives" | "tags" | "resume"| "about" | "search";
}

const { activeNav } = Astro.props;
---

<header class="site-header">
  <div transition:persist="nav-header" transition:animate="none">
    <NavHeader client:load activeNav={activeNav} />
  </div>
</header>

<style>
  .site-header {
    position: relative;
    z-index: 30;
  }
</style>
