---
import { getCollection } from "astro:content";
import Header from "@components/layout/Header.astro";
import Footer from "@components/layout/Footer.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Tag from "@components/Tag.astro";
import { getUniqueTags } from "@utils/content/text";
import { SITE } from "@config";

const posts = await getCollection("blog");

// 빈도수 순으로 정렬
let tags = getUniqueTags(posts, "count");
---

<Layout title={`Tags | ${SITE.title}`}>
  <Header activeNav="tags" />
  <Main pageTitle="Tags" pageDesc="사용된 모든 태그 목록입니다.">
    <ul>
      {tags.map(({ tag, tagName, count }) => <Tag {tag} {tagName} {count} size="lg" />)}
    </ul>
  </Main>
  <Footer />
</Layout>
