---
import Layout from "@layouts/Layout.astro";
import DecorativeElements from "@components/intro/DecorativeElements.astro";
import { SOCIALS } from "@config";

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <main id="main-content">
    <section id="hero">  
      <div class="hero-content">
        <h1><span class="title-accent">Flik</span><span class="title-light">ary</span></h1>
        <p class="subtitle">Frontend Developer</>
      </div>
      <nav id="main-navigation">
        <div class="nav-container">
          <a href="/blog/" class="nav-item">
            <span class="nav-label">ARTICLES</span>
          </a>
          <a href="/resume/" class="nav-item">
            <span class="nav-label">RESUME</span>
          </a>
          <a href="/about/" class="nav-item">
            <span class="nav-label">ABOUT</span>
          </a>
        </div>
      </nav>
    </section>
    <DecorativeElements className="hero-decorations" />
     
    
        <!-- {
          // only display if at least one social link is enabled
          socialCount > 0 && (
            <div class="social-wrapper">
              <div class="social-links">소셜 링크:</div>
              <Socials />
            </div>
          )
        } -->
</main>
</Layout>

<style>
  @import "@styles/components/homepage.css";
</style>
